<div id="countdown">30</div>
<h1><%= @question.content %></h1>
<%= form_for @question, url: answer_path(@question), method: :patch do |f| %>
  <% @question.choices.shuffle.each do |choice| %>
    <div class="radio">
    <%= f.radio_button(:choices, choice.id) %>
    <%= f.label(:choices, choice.content ) %>
    </div>
  <% end %>
  <%= f.submit 'Zatwierdź odpowiedź', id: 'submit', disabled: true %>
<% end %>

<script>
    $(document).ready(function() {
        $('.edit_question').on('change', 'input', function() {
            $('#submit').removeAttr('disabled')
        });

        var seconds = 3;
        var counter = setInterval(function() {
            seconds--;
            if (seconds > 0) {
                $('#countdown').html(seconds);
            } else {
                $('#countdown').html(seconds);
                clearInterval(counter);
                timeIsUpNextQuestion();
            }
        }, 1000);

        function timeIsUpNextQuestion() {
            $.ajax({
                url: "/answers",
                type: 'PATCH',
                data: {
                    id: <%= @question.id %>
                }
        })}
    })
  </script>